---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <!-- <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} {{ page.date | date: date_format }}
      </time> -->
      {% if page.author %} •
      <span itemprop="author" itemscope itemtype="https://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {% endif %}

      <!-- artist -->
      {% if page.artist %} <div><span class="artist"> {{ page.artist }}</span> </div>
      {% endif %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <table>
  <!-- pdf url -->
  {% if page.pdf_url %} 
    <tr>
    <td class="firstCell">Download:</td>
    <td class="pdf_url"> <a href="{{ page.pdf_url }}">FREE sheet music<span class="icon icon-download"></span> </a></td>
  {% endif %}          

  <!-- key -->
  {% if page.key %}
    <tr>
    <td class="firstCell">Key:</td>
    <td>{{ page.key }}</td>
  {% endif %}          

  <!-- difficulty -->
  {% if page.difficulty %} 
  <tr>
    <td class="firstCell">Difficulty:</td>
    <td>{{ page.difficulty }}</td>    
  {% endif %}      


  <!-- pages count -->
  {% if page.pages_count %} 
  <tr>
    <td class="firstCell">Pages:</td>
    <td>{{ page.pages_count }}</td>  
  {% endif %}      


  <!-- instrument -->
  {% if page.instrument %} 
  <tr>
    <td class="firstCell">Instrument:</td>
    <td>{{ page.instrument }}</td>  
  {% endif %}      

  <!-- original_url -->
  {% if page.original_url %} 
  <tr>
    <td class="firstCell"> {{ page.artist }}:</td>
    <td> <a href="{{ page.original_url }}"> "{{ page.title }}" on Youtube</a></td>  
  {% endif %}      

  <!-- youtube -->
  {% if page.youtube %}
  <tr>
    <td class="firstCell">Performed by Evita:</td>
    <td> <a href="{{ page.youtube }}"> "{{ page.title }}" on Youtube</a></td>  
  {% endif %}


</table>
  
  

  {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
